.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.login form div input {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Pretendard';
}

.login form div button {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.login form input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Pretendard';
    box-sizing: border-box;
}

.login form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
}

.login form button:hover {
    background-color: #0056b3;
}

/* 로그인하기 텍스트 스타일 */
.login-link {
    cursor: pointer;
    color: #007bff; /* 파란색 텍스트 */
    margin-top: 20px; /* 위쪽 여백 */
    font-size: 14px;
    font-family: 'Pretendard', sans-serif;
}

.login-link:hover {
    color: #0056b3; /* 마우스 오버 시 어두운 파란색 */
    text-decoration: none;
}
