.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.bottom-button {
    flex: 1;
    text-align: center;
    align-items: center;
    text-decoration: none; /* 링크 밑줄 제거 */
    padding: 10px;
    font-size: 16px;
    color: #aaaaaa;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.menu-icon {
    fill: #aaaaaa; /* SVG 기본 색상 */
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

/* 활성화된 버튼 스타일 */
.bottom-button.active {
    color: #383838; /* 텍스트 색 변경 */
}

.menu-icon.active-icon {
    fill: #383838; /* SVG 색 변경 */
}