.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.bottom-button {
    flex: 1;
    text-align: center;
    text-decoration: none; /* 링크 밑줄 제거 */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #000; /* 텍스트 색상 */
    cursor: pointer;
}

.bottom-button:hover {
    background-color: #e0e0e0;
}
