.box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    width: 95%;
    box-sizing: border-box;
}

.notice {
    background-color: #e9e9e9;
    color: #383838;
}

.notice .icon {
    fill: #383838;
    margin-right: 10px;
}

.notice p {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    width: 100%;
}

.bord-box {
    height: 200px;
    border: #383838 1px solid;
    flex-direction: column;
    color: #383838;
}

.custom-dropdown-container {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 16px;
    align-items: center;
    flex-direction: column;
}

.custom-dropdown-selected {
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
    color: #383838;
    border: #383838 1px solid;
    font-size: 12px;
    box-sizing: border-box;
}

/* 드롭다운 옵션 목록 스타일 */
.custom-dropdown-options {
    position: absolute;
    top: 100%;
    width: 80%;
    margin-top: 2px;
    padding: 0;
    color: #383838;
    border: #383838 1px solid;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    max-height: 200px; /* 스크롤이 필요한 경우 */
    overflow-y: auto;
    z-index: 1000;
    background-color:#f5f5f5;
}

.custom-dropdown-options::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

/* 옵션 스타일 */
.custom-dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.custom-dropdown-option:hover {
    background-color: #f0f0f0;
}

.bord-box select:focus {
    outline: none;
}

.times {
    justify-content: center;
}

.times h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.times h4 {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.register {
    height: 300px;
    flex-direction: column;
}

.register__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #383838;
}

.btn_container {
    width: 80%;
}

.register__form p {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.register__form h4 {
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.register__form div {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
}

.register__form span {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #383838;
    color: #ffffff;
}

.register__form button {
    font-size: 24px;
    font-weight: 700;
    padding: 5px 0;
    margin: 20px 5px;
    width: 40%;
    height: 100px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: #383838 1px solid;
}

.text {
    align-items: center;
    text-align: center;
    justify-content: center;
}
